<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
				layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
    
    <div class="sns-container">
        
        <div class="profile-wrapper">
		    <form method="POST" action="/profile/edit" enctype="multipart/form-data" id="profile-modify-form">
	        	<div class="row">
	        		<!-- 프로필 사진 수정 -->
	        		<div class="col-5">
	        			<div style="padding: 2vw;">
							<img id="preview-profile-photo" th:src="@{/profile/photo/{filename}(filename=${loggedInUser.profilePhoto})}" style="height: 200px; width: 200px; border-radius: 50%;">
	        			</div>
	        			
						<input type="hidden" name="id" th:value="${loggedInUser.id}"/>
						<input type="hidden" id="original-profilePhoto" th:value="${loggedInUser.profilePhoto}"/>
						<label for="new-profileImage" class="form-label">프로필 사진:</label>
	           			<input type="file" accept=".jpg, .png" class="form-control" id="new-profileImage" name="profileImageFile">
	           			<button type="button" id="file-reset" class="btn btn-warning">초기화</button>
	           			
	        		</div>
	        		
	        		<!-- 일반 정보 수정 폼 -->
	        		<div class="col-7">
	        			<h2>프로필 수정</h2>
					        <div class="mb-3">
					            <label for="email" class="form-label">이메일:</label>
					            <input type="email" class="form-control" th:value="${loggedInUser.email}" disabled>
					        </div>
					        <div class="mb-3">
					            <button type="button" id="change-password-button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#password-modal">비밀번호 변경</button>
					        </div>
					        <div class="mb-3">
					            <label for="name" class="form-label">이름:</label>
					            <input type="text" class="form-control" id="name" name="name" th:value="${loggedInUser.name}">
					        </div>
					        <div class="mb-3">
					            <label for="bio" class="form-label">소개:</label>
					            <textarea class="form-control" id="bio" name="bio" th:text="${loggedInUser.bio}"></textarea>
					        </div>
					        <div class="mb-3">
					            <button type="submit" class="btn btn-primary">저장</button>
					        </div>
	        		</div>
	        	</div>
		    </form>
        </div>

    </div>
    
	<div id="password-modal" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<form id="edit-password">
					<div class="modal-header">
						<h1 class="modal-title fs-5">비밀번호 변경</h1>
		        		<button type="reset" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
					</div>
					<div class="modal-body">
						<div class="mb-3">
				            <label for="name" class="form-label">변경 비밀번호:</label>
				            <input type="password" class="form-control" id="new-password" name="newPassword">
				        </div>
						<div class="mb-3">
				            <label for="name" class="form-label">변경 비밀번호 확인:</label>
				            <input type="password" class="form-control" id="new-password-confirm">
				        </div>
					</div>
					<div class="modal-footer">
						<button type="reset" id="password-modal-close" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
						<button type="submit" class="btn btn-primary">변경</button>
					</div>
				</form>
			</div>
		</div>
	</div>
    
</th:block>
<th:block layout:fragment="customScript">
	<script th:inline="javascript">
		$(document).ready(function () {
			
			$("#new-profileImage").change(function() {
				const file = this.files[0];
		        if (file){
					let reader = new FileReader();
					reader.onload = function(event){
						console.log(event.target.result);
						$("#preview-profile-photo").attr("src",event.target.result);
					}
					reader.readAsDataURL(file);
		        }
			});
			
			/*<![CDATA[*/ 
			$("#file-reset").click(function() {
				let context = /*[[@{/profile/photo/}]]*/;
				let orgImageName = $("#original-profilePhoto").val();
				
				$("#preview-profile-photo").attr("src", context + orgImageName);
			});
			/*]]>*/
			
			$("#edit-password").submit(function(event) {
				event.preventDefault();
				
				if($("#new-password").val() == $("#new-password-confirm").val()) {
					let thisForm = this;
					let formData = $(this).serialize();
					
					$.ajax({
						type: "post",
						url: '/profile/edit/password',
						data: formData,
						processData: false,
						success: function (response) {
							console.log(response);
							alert("비밀번호가 변경되었습니다.")
							thisForm.reset();
							$("#password-modal-close").click();
						},
						error: function (error) {
							console.log(error);
							thisForm.reset();
						}
					});
				} else {
					alert("비밀번호를 다시 확인해주세요.");
				}
				
			});
			
		});
	
	</script>
</th:block>
    
    
