<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
				layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">
    
    <div class="sns-container">
    	<div class="profile-wrapper">
    		<div class="mb-3 d-flex align-items-center">
					<div class="user-profile">
						<img class="profile-photo" th:src="@{/profile/photo/{filename}(filename=${loggedInUser.profilePhoto})}" alt="Profile Image">
					</div>
					<span class="name" th:text="${loggedInUser.name}">loggedInUser.name</span>
				</div>
    	</div>
        
        <!-- 포스트 작성 폼 -->
		<div class="post-form" sec:authorize="isAuthenticated()">
			<form action="/posts/create" method="post">
				
				<div class="mb-3">
					<label for="content" class="form-label">Content:</label>
					<textarea class="form-control" id="content" name="content" rows="3" placeholder="Enter your post"></textarea>
				</div>
				<button type="submit" class="btn btn-primary">작성</button>
			</form>
		</div>
        
        <!-- 포스트 목록 -->
        <ul class="post-list">
			<li class="post-item" th:each="post : ${posts}">
				<div class="user-profile">
					<img class="profile-photo" th:src="@{/profile/photo/{filename}(filename=${post.user.profilePhoto})}">
					<h5 class="post-name" th:text="${post.user.name}">post.user.nametest</h5>
				</div>
				<p class="post-content" th:text="${post.content}">post.contenttest</p>
				<button class="post-like-button">좋아요</button>
	
				<!-- 댓글 목록 -->
				<ul class="comment-list">
					<li class="comment-item" th:each="comment : ${post.comments}">
						<div class="user-profile">
							<img class="profile-photo" th:src="@{/profile/photo/{filename}(filename=${comment.user.profilePhoto})}">
							<p class="comment-name" th:text="${comment.user.name}">comment.user.nametest</p>
						</div>
						<p class="comment-content" th:text="${comment.content}">comment.contenttest</p>
					</li>
				</ul>
	
				<!-- 댓글 작성 폼 -->
				<div class="comment-form" sec:authorize="isAuthenticated()" style="display: none;">
					<form th:action="@{/posts/{postId}/comments(postId=${post.id})}" method="post">
						<div class="mb-3 d-flex align-items-center">
							<div class="user-profile">
								<img class="profile-photo" th:src="@{/profile/photo/{filename}(filename=${loggedInUser.profilePhoto})}">
							</div>
							<div class="comment-name" th:text="${loggedInUser.name}">loggedInUser.name</div>
						</div>
						<div class="mb-3">
							<label for="comment-content" class="form-label">Content:</label>
							<textarea class="form-control" id="comment-content" name="content" rows="3" placeholder="Enter your comment"></textarea>
						</div>
						<button type="submit" class="btn btn-primary">Comment</button>
					</form>
				</div>
				<button class="toggle-comment-form-button btn btn-link">댓글 작성</button>
	
			</li>
		</ul>

    </div>
</th:block>
    
<th:block layout:fragment="customScript">
    <script>
        // jQuery 코드 추가
        $(document).ready(function () {
            $('.post-like-button').click(function () {
                $(this).toggleClass('liked');
            });
            
            $('.toggle-comment-list-button').click(function () {
                var $commentList = $(this).siblings('.comment-list');
                $commentList.toggle();
                
                if ($commentList.is(':visible')) {
                    $(this).text('댓글 숨기기');
                } else {
                    $(this).text('댓글 보기');
                }
            });

            $('.cancel-comment-button').click(function () {
                var $commentForm = $(this).closest('.comment-form');
                $commentForm.hide();
                
                var $toggleCommentFormButton = $commentForm.siblings('.toggle-comment-form-button');
                $toggleCommentFormButton.text('댓글 작성');
            });

            $('.toggle-comment-form-button').click(function () {
                var $commentForm = $(this).siblings('.comment-form');
                $commentForm.toggle();
                
                if ($commentForm.is(':visible')) {
                    $(this).text('취소');
                } else {
                    $(this).text('댓글 작성');
                }
            });
        });
    </script>
</th:block>